doctype html
html
  head
    title #{title} - NBA Finals Game 6
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,900')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='css/styles.css')
  body
    .container#app
      .text-center
        h1 NBA Finals Game 6
        p Data updates approximately once per hour
        .text-center(v-if='!loaded')
          br
          br
          h2 Loading...
          //- p (it takes about 10 seconds to communicate with FB's server) 
          h2 {{ timer }}
          .spinner
            .rect1
            .rect2
            .rect3
            .rect4
            .rect5
        div(v-if='loaded')
          button.btn.btn-primary.text-center(v-on:click='refresh') Refresh Now
          h2.text-center
            img(src='https://i.imgur.com/JhRFAeO.png' height='60')
            | &nbsp;{{ teamScores[0] }}
            | &nbsp; - &nbsp;
            | {{ teamScores[1] }}&nbsp;
            img(src='https://i.imgur.com/eMpFRff.png' height='60')
          p.text-center Teams are automatically assigned based on order of joining
          table.table
            thead
              tr
                th Rank
                th Name
                th Field Goals Made
                th Total Attempts
                th Field Goals Per Attempt
                th Affiliation
            tbody
              tr(
                v-for='player in players | orderBy'
                class="{{teams[player.team]}}"
              )
                td {{$index + 1}}
                td {{player.name}}
                td {{player.score}}
                td {{player.attempts}}
                td {{player.score / player.attempts | twoDecimals}}
                td {{teams[player.team] | capitalize}}
          .text-center
            //- button.btn.btn-primary.btn-lg(v-on:click='getData') #[i.fa.fa.fa-refresh]
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.min.js')
    script(src='js/app.js')